[submodule "TextViewUpdate"]
	path = TextViewUpdate
	url = https://github.com/gbertao/TextViewUpdate.git
[submodule "PrimeFinderUI-Android"]
	path = PrimeFinderUI-Android
	url = https://github.com/gbertao/PrimeFinderUI-Android
[submodule "TimeAttackTyping"]
	path = TimeAttackTyping
	url = https://github.com/gbertao/TimeAttackTyping.git
[submodule "Echo-Server"]
	path = Echo-Server
	url = https://github.com/gbertao/Echo-Server.git
[submodule "MultiActivityApp"]
	path = MultiActivityApp
	url = https://github.com/gbertao/MultiActivityApp.git
